<?php
/**
 * @category    Fishpig
 * @package     Fishpig_Wordpress
 * @license     http://fishpig.co.uk/license.txt
 * @author      Ben Tideswell <help@fishpig.co.uk>
 */
?>

<?php $post = $this->getPost() ?>
<?php $image = $post->getFeaturedImage();  ?>
<?php $eventsData = Mage::helper("bitbull_cms/data")->getShopEventsData( $post->getId() );?>

<div class="post-list-item">
    <div class="post-entry entry" >

        <div class="image-box">
            <?php if ($featuredImage = $post->getFeaturedImage()): ?>

                <?php if ($image->getPostThumbnailImage()): ?>
                    <img src="<?php echo $image->getPostThumbnailImage(); ?>" alt="<?php echo $this->escapeHtml($post->getPostTitle()) ?>" />
                <?php else: ?>
                    <img src="<?php echo $image->getFullSizeImage(); ?>" alt="<?php echo $this->escapeHtml($post->getPostTitle()) ?>" />
                <?php endif; ?>

            <?php endif; ?>

            <?php if (!empty($eventsData)): ?>
               <div class="event-detail">
                   <?php echo date('d/m/Y H:i:s', $eventsData[Bitbull_Cms_Helper_Data::WP_SHOPS_EVENTS_DATA])?>
               </div>
            <?php endif; ?>
        </div>

        <div class="event-title">
            <?php if (!empty($eventsData)): ?>
                <h1><?php echo $eventsData[Bitbull_Cms_Helper_Data::WP_SHOPS_EVENTS_ARTIST]; ?></h1>
                <span class="genere"><?php echo $eventsData[Bitbull_Cms_Helper_Data::WP_SHOPS_EVENTS_TYPE]; ?></span>
            <?php else: ?>
                <h1><?php echo $this->escapeHtml($post->getPostTitle()) ?></h1>
            <?php endif; ?>
        </div>

        <?php if ($this->displayExcerptInFeed() || $post->hasMoreTag()): ?>
            <div class="post-excerpt"><?php echo $post->getPostExcerpt() ?> </div>
        <?php else: ?>
            <div class="post-excerpt"><?php echo $post->getPostContent() ?></div>
        <?php endif; ?>
    </div>
</div>