<?php $posts = $this->getMagazinePosts(); ?>

<?php if (count($posts) > 0):?>
<div class="container">
    <div id="eataly-magazine-banner">

        <div class="box first">
            <a href="<?php echo $this->getUrl('', array('_direct'=>'magazine')); ?>"><img src="<?php echo $this->getSkinUrl('images/eataly-magazine-banner.png'); ?>" alt=""></a>
              <p><?php echo $this->__('STORIES AND RECIPES'); ?><br> <?php echo $this->__('FROM THE WORLD'); ?><br> <?php echo $this->__('OF HIGH-QUALITY'); ?><br> <?php echo $this->__('FOOD AND DRINK'); ?></p>
            <p class="subtitle"><a href="<?php echo $this->getUrl('', array('_direct'=>'magazine')); ?>"><?php echo $this->__('Enter'); ?> &gt;&gt;</a></p>
        </div>

        <?php foreach($posts as $post): ?>
            <div class="box">
                <?php $postCategorySlug = $post->getParentCategory()->getSlug(); ?>
                <a href="<?php echo $post->getPermalink() ?>" title="<?php echo $this->escapeHtml($post->getPostTitle()) ?>">
                    <?php if ($featuredImage = $post->getFeaturedImage()): ?>
                        <img src="<?php echo $image_url = $post->getFeaturedImage()->getThumbnailImage(); ?>" title="<?php echo $this->escapeHtml($post->getPostTitle()) ?>" />
                    <?php endif; ?>
                </a>
                <a href="<?php echo $post->getPermalink() ?>" title="<?php echo $this->escapeHtml($post->getPostTitle()) ?>">
                <div class="box-title">
                    <div class="title-small <?php echo  $postCategorySlug; ?>"></div>
                    <div class="title-big">
                        <p class="line">&nbsp;</p>
                        <?php echo $post_title = $post->getPostTitle(); ?>
                    </div>
                </div></a>

            </div>
        <?php endforeach; ?>
    </div>
</div>

<?php endif; ?>