<div class="shops-list">
    <div class="item">
       <a href="#">
        <img src="<?php echo $this->getSkinUrl('images/shop-thumb.jpg'); ?>" />
        <div class="shop-title">Eataly Torino</div>
       </a>
    </div>

    <div class="item">
       <a href="#">
        <img src="<?php echo $this->getSkinUrl('images/shop-thumb.jpg'); ?>" />
        <div class="shop-title">Eataly Torino</div>
       </a>
    </div>

    <div class="item">
        <a href="#">
            <img src="<?php echo $this->getSkinUrl('images/shop-thumb.jpg'); ?>" />
            <div class="shop-title">Eataly Torino</div>
        </a>
    </div>

    <div class="item">
        <a href="#">
            <img src="<?php echo $this->getSkinUrl('images/shop-thumb.jpg'); ?>" />
            <div class="shop-title">Eataly Torino</div>
        </a>
    </div>

    <div class="item">
        <a href="#">
            <img src="<?php echo $this->getSkinUrl('images/shop-thumb.jpg'); ?>" />
            <div class="shop-title">Eataly Torino</div>
        </a>
    </div>

    <div class="item">
        <a href="#">
            <img src="<?php echo $this->getSkinUrl('images/shop-thumb.jpg'); ?>" />
            <div class="shop-title">Eataly Torino</div>
        </a>
    </div>


</div>