<?php $_category = $this->getCategory() ?>
<?php if ($_category): ?>
    <div class="page-title">
        <h1><?php echo $this->escapeHtml($_category->getName()) ?></h1>
    </div>
<?php endif; ?>
<div class="category-img">
    <img src="<?php echo $this->getSkinUrl('images/palco-smeraldo.png') ?>" />
</div>
