<?php
/**
 * @category    Bitbull
 * @package     Bitbull_Cms
 * @author      dan nistor <dan.nistor@bitbull.it>
 */
?>

<?php $posts = $this->getPosts() ?>
<?php
/** @var Bitbull_Cms_Helper_Data $cmsHelper */
$cmsHelper= Mage::helper("bitbull_cms/data");
// get post Recipe Course attribute options
$sortAttributes = $cmsHelper->getRecipeCourseAttributes();
//$magazineUrl = $cmsHelper->getMagazineUrl();

// filter post by selected Recipe Course
$posts = $cmsHelper->orderMagazinePosts($posts);
$selectedSortOrder = $cmsHelper->getMagazineSortingOrder();

?>
<?php
/**
<div class="magazine-sort">
    <div class="label"><?php echo $this->__('Ordina per') ?></div>
    <span class="order-items">
        <select id="magazine-sort" name="magazine-post-sorting" class="turnintodropdown">
            <?php foreach ($sortAttributes as $sortAttributeKey => $sortAttributesValue) : ?>
                <?php $selected = $selectedSortOrder == $sortAttributeKey ? "selected" : ""; ?>
                <option <?php echo $selected ?> value="<? echo $magazineUrl . '?sort=' . $sortAttributeKey ?>">
                    <? echo $sortAttributesValue ?>
                </option>
            <?php endforeach; ?>
        </select>
    </span>
</div>
<div class="clearfix"></div>
 **/ ?>

<?php if (count($posts) > 0): ?>
	<div class="post-list">
		<ul id="post-list">
			<?php $i = 0; ?>
            <?php foreach($posts as $post): $i++; ?>

                <?php $postCategorySlug = $post->getParentCategory()->getSlug(); ?>
				<li class="post-<?php echo $i; ?> item<?php if ($post->isSticky()): ?> featured is-sticky<?php endif; ?> <?php echo $post->getPostFormat() ?> <?php echo $postCategorySlug; ?>">
					<?php echo $this->getPostRenderer($post)->toHtml() ?>
				</li>
			<?php endforeach; ?>
            <div class="clearfix"></div>
		</ul>
		<script type="text/javascript">
            decorateList($('post-list'));
        </script>
		<?php echo $this->getPagerHtml() ?>
	</div>
<?php endif; ?>