<?php /* @var $this Bitbull_Cms_Block_Wordpress_Magazine */ ?>
<?php
/**
 * @category Bitbull
 * @package  Bitbull_Cms
 * @author   Dan Nistor <dan.nistor@bitbull.it>
 */
?>

<?php
$magazineMenu = $this->getMagazineMenu();
?>

<div class="magazine-title">
   <div class="claim">
       <img src="<?php echo $this->getSkinUrl('images/myeataly-page-title.png') ?>">
       <span><?php echo $this->__('Storie e ricette dal mondo del cibo di alta qualità') ?></span>
   </div>
</div>

<div class="magazine-menu">
    <div class="trigger visible-xs"><?php echo $this->__('Last news') ?><i class="fa fa-caret-down"></i></div>
    <div class="drop"><?php echo $magazineMenu->toHtml() ?></div>
</div>
