<?php /* @var $this Bitbull_Cms_Block_Shops_Calendar */ ?>

<?php
$posts = $this->getPostsWithDate();
$currentUrl = $this->helper('core/url')->getCurrentUrl();
?>

<div class="shop-calendar">
    <div class="shop-calendar-title">
        <?php echo $this->__('Happenings In The Store') ?>
    </div>
    <ul class="slides">
        <?php if (empty($posts)) : ?>
            <li>
                <div class="day">
                    <a href="#">
                        <span class="number"></span>
                    </a>
                </div>
            </li>
        <?php else : ?>
            <?php foreach ($posts as $post) : ?>
                <?php if (is_array($post)) : ?>
                    <?php if (count($post) == 1): ?>
                        <li>
                            <div class="day <?php if ($currentUrl == $post[0]["url"]) : ?>current<?php endif; ?>">
                                <a href="<?php echo $post[0]["url"]; ?>">
                                    <?php echo $this->__($post[0]["event-date-week-day"]); ?>
                                    <span class="number"><?php echo $post[0]["event-date-day"]; ?></span>
                                    <?php echo $this->__($post[0]["event-date-month"]); ?>
                                </a>
                            </div>
                        </li>
                    <?php elseif (count($post) > 1) : ?>
                        <li>
                            <div class="day <?php if ($currentUrl == $post[0]["url"]) : ?>current<?php endif; ?>">
                                <?php
                                // get archive link for days with more the 1 event
                                // {root}/category/stores/new-york/archive-new-york?events=fullDate
                                ?>
                                <a href="<?php echo $this->getMultipleCalendarEventsUrl($post[0]["event-full-date"]); ?>">
                                    <?php echo $this->__($post[0]["event-date-week-day"]); ?>
                                    <span class="number"><?php echo $post[0]["event-date-day"]; ?></span>
                                    <?php echo $this->__($post[0]["event-date-month"]); ?>
                                </a>
                            </div>
                        </li>
                    <?php endif; ?>
                <?php endif; ?>
            <?php endforeach; ?>
        <?php endif; ?>
    </ul>
</div>