<!-- Begin Caviar, Inc. Merchant Widget; Copyright Square Inc, 2015, All Rights Reserved -->
<style>
  .caviar-merchant-widget-button-1, .caviar-merchant-widget-button-1 a {text-decoration: none; width:200px; min-height:40px; line-height: 40px; padding:0; margin:0 auto; margin-top: 5px;}
  .caviar-merchant-widget-button-1 a span {color: #ffffff; font-size: 20px; font-weight: 700; text-transform: uppercase;}
  .caviar-merchant-widget-link-button-1 {display: block; background-color: #fd7f37;}
  .caviar-merchant-widget-link-button-1:hover {background-color: #fd8b47;}
  @media only screen and (-Webkit-min-device-pixel-ratio: 1.5),only screen and (-moz-min-device-pixel-ratio: 1.5),only screen and (-o-min-device-pixel-ratio: 3/2),only screen and (min-device-pixel-ratio: 1.5) {
    .caviar-merchant-widget-link-button-1 {display: block;}}
</style>
<div class="box-caviar">
      <h5><?php echo $this->__('Order in from Eataly Chicago') ?></h5>
      <div class="caviar-widget">
        <div class="caviar-logo">
            <img src="<?php echo $this->getSkinUrl('images/caviar-logo.png'); ?>"/>
        </div>
        <div class='caviar-merchant-widget-button-1'>
            <div class='caviar-merchant-widget-content' style='text-align: center;'>
              <a href="https://www.trycaviar.com/t/chicago/eataly-1544?groups=f_online__d_dwidget-3-button-1__p_marketing__c_merchant-links&utm_medium=dwidget-3-button-1&utm_source=marketing&utm_campaign=merchant-links&utm_term=chicago&utm_content=eataly-1544" class="caviar-merchant-widget-link-button-1 target-blank" ><span>Caviar delivers</span></a>
            </div>
        </div>
      </div>
</div>
