<?php
/** @var Bitbull_Cms_Helper_Data $cmsHelper */
$cmsHelper = Mage::helper("bitbull_cms/data");
/** @var Fishpig_Wordpress_Model_Post_Category $currentCategory */
$currentCategory = Mage::registry('wordpress_category');
// if no category found then check for post
// if post found then get parent shop category data
if (null == $currentCategory) {
    $currentPost = Mage::registry('wordpress_post');
    if (null !== $currentPost) {
        $currentCategory = $cmsHelper->getPostParentShopCategory($currentPost);
    }
}
if (null !== $currentCategory) {
    // get current category custom fields data
    $categoryData = $cmsHelper->getWpCategoryData($currentCategory);
}
?>

<?php if (null !== $categoryData) : ?>
    <div class="shop-details">
        <div class="trigger"><i class="icon-info-sign"></i></div>

        <div class="drop">
            <div class="shop-time"><em class="icon-time"></em><span><?php echo $categoryData[Bitbull_Cms_Helper_Data::SHOP_CATEGORY_ATTRIBUTE_TIMETABLE] ;?><br></span></div>
            <div class="shop-address"><em class="icon-map-marker"></em><span><?php echo $categoryData[Bitbull_Cms_Helper_Data::SHOP_CATEGORY_ATTRIBUTE_ADDRESS] ;?></span></div>
            <div class="shop-email"><em class="icon-envelope"></em><span><a href="mailto:<?php echo $categoryData[Bitbull_Cms_Helper_Data::SHOP_CATEGORY_ATTRIBUTE_EMAIL] ;?>"><?php echo $categoryData[Bitbull_Cms_Helper_Data::SHOP_CATEGORY_ATTRIBUTE_EMAIL] ;?></a></span>
            </div>
            <div class="shop-phone"><em class="icon-phone-sign"></em><span><?php echo $categoryData[Bitbull_Cms_Helper_Data::SHOP_CATEGORY_ATTRIBUTE_PHONE] ;?></span></div>
        </div>
    </div>
<?php endif; ?>