<?php
$associatedProducts = Mage::helper("bitbull_cms/data")->getAssociations("product/category");
$categoryData = Mage::helper("bitbull_cms/data")->getShopEventsCategoryData();
?>

<?php if ($associatedProducts !== false) : ?>
<div class="shop-events">
    <div class="block-title"><?php echo $this->__("La Scuola di Eataly") . " " . $categoryData["category-name"] ?></div>

    <?php foreach ($associatedProducts as $product) : ?>
        <div class="item">
            <img src="<?php echo $this->helper('catalog/image')->init($product, 'small_image') ?>"
                 class="events-thumb" width="100" />
            <h3><?php echo $product->getName() ?></h3>
            <!-- <div class="price">--><?php //echo $this->getPriceHtml($product, true) ?><!--</div>-->
            <div id="event-info">
                <ul>
                    <li><i class="fa fa-calendar fa-lg"></i><span><?php echo date("F jS Y", strtotime($product->getData('event_date'))); ?></span></li>
                    <li><i class="fa fa-clock-o fa-lg"></i><span><?php echo date("g:i A", strtotime($product->getEventStartTime())); ?></span> - <span><?php echo date("g:i A", strtotime($product->getEventEndTime())); ?></span></li>
                </ul>
            </div>
            <a class="cta event-url" href="<?php echo $product->getProductUrl() ?>"><?php echo $this->__('Register') ?></a>
        </div>
    <?php endforeach; ?>

    <div class="more">
        <a href="<?php echo $categoryData["category-url"] ?>" ><?php echo $this->__('See All') ?></a>
    </div>
</div>
<?php endif; ?>