<?php /* @var $this Bitbull_Cms_Block_Shops_Fb */ ?>

<div class="box-fb">
  <h5><em class="icon-facebook"></em><?php echo $this->__('follow us on Facebook') ?></h5>
  <?php echo $this->getCategoryFbWidgetData(); ?>
</div>