<?php
/**
 * @category    Fishpig
 * @package     Fishpig_Wordpress
 * @license     http://fishpig.co.uk/license.txt
 * @author      Ben Tideswell <help@fishpig.co.uk>
 */
?>
<?php $post = $this->getPost() ?>
<?php $image = $post->getFeaturedImage();  ?>
<?php $eventData  = Mage::helper("bitbull_cms/data")->getPostEventCustomData($post->getId());?>
<?php $recipeData = Mage::helper("bitbull_cms/data")->getRecipePostCustomData($post->getId());?>

<?php if ($post): ?>
	<?php $helper = $this->helper('wordpress') ?>

	<!-- Go to www.addthis.com/dashboard to customize your tools -->
	<!--<div class="addthis_sharing_toolbox"></div>-->

<div class="addthis_toolbox">
	<!-- Check whether the plugin is enabled -->

	<!-- AddThis Button BEGIN -->

	<!-- AddThis API Config -->
	<script type="text/javascript">
		var addthis_product = 'mag-sp-2.0.0';
		var addthis_config = {
			pubid : ' ra-55508ff735d5abeb'
		}
	</script>
	<!-- AddThis API Config END -->
	<div class="addthis_toolbox addthis_default_style addthis_32x32_style">
		<div class="custom_images" tabindex="1000">
			<!--<span class="condividi">CONDIVIDI</span>-->
			<a class="addthis_button_facebook at300b" title="Facebook" href="javascript:void(0);"><i class="icon-facebook">&nbsp;</i></a>
			<a class="addthis_button_twitter at300b" title="Tweet" href="javascript:void(0);"><i class="icon-twitter">&nbsp;</i></a>
			<a class="addthis_button_email at300b" target="_blank" title="E-mail" href="javascript:void(0);"><i class="icon-envelope-alt">&nbsp;</i></a>
			<a class="addthis_button_compact at300m" href="javascript:void(0);"><i class="icon-plus">&nbsp;</i></a>
		</div>
	</div>
	</div>
	<script>
		var ats_widget = function () {
			if (typeof addthis_conf == 'undefined') {
				var at_script = document.createElement('script');
				at_script.src = '//s7.addthis.com/js/300/addthis_widget.js#pubid=+ra-5481838b495bad38';
				document.getElementsByTagName('head')[0].appendChild(at_script);
				var addthis_product = 'mag-sp-2.1.0';
			}
		};
		if (window.addEventListener) {
			window.addEventListener('load', ats_widget);
		}
		else {
			window.attachEvent('onload', ats_widget);
		}
	</script>
	<!-- AddThis Button END  -->



	<?php $author = $post->getAuthor() ?>
	<div class="page-title post-title">
        <?php if (!empty($eventData[Bitbull_Cms_Helper_Data::WP_SHOP_POST_EVENT_ATTRIBUTE_CUSTOM_DATE])): ?>
            <h5 class="event-data">
                <?php echo date('d/m/Y', $eventData[Bitbull_Cms_Helper_Data::WP_SHOP_POST_EVENT_ATTRIBUTE_CUSTOM_DATE])?>
            </h5>
        <?php endif; ?>
		<h1><?php echo $this->escapeHtml($post->getPostTitle()) ?></h1>
	</div>

	<div class="post-view">

        <?php echo $this->getBeforePostContentHtml() ?>
		<div class="post-entry entry std<?php if ($post->getFeaturedImage()): ?> post-entry-with-image<?php endif; ?>">
			<?php if ($post->isViewableForVisitor()): ?>

                <?php
                // check if recipe data are set
                if (!empty($recipeData)
                    && $recipeData[Bitbull_Cms_Helper_Data::WP_MAGAZINE_RECIPE_CUSTOM_FIELD_COURSE] != false
                    && $recipeData[Bitbull_Cms_Helper_Data::WP_MAGAZINE_RECIPE_CUSTOM_FIELD_DIFFICULTY] != false
                    && isset($recipeData[Bitbull_Cms_Helper_Data::WP_MAGAZINE_RECIPE_CUSTOM_FIELD_PREPARING])
                ) { ?>
                    <ul id="recipedata">
                        <li class="course"><span>course</span><?php echo $recipeData[Bitbull_Cms_Helper_Data::WP_MAGAZINE_RECIPE_CUSTOM_FIELD_COURSE]; ?></li>
                        <li class="difficulty"><span>difficulty</span><?php echo $recipeData[Bitbull_Cms_Helper_Data::WP_MAGAZINE_RECIPE_CUSTOM_FIELD_DIFFICULTY]; ?></li>
                        <li class="preparing"><span>preparation time</span><?php echo $recipeData[Bitbull_Cms_Helper_Data::WP_MAGAZINE_RECIPE_CUSTOM_FIELD_PREPARING]; ?></li>
                        <div class="clearfix"></div>
                    </ul>
                <?php } ?>

				<?php echo $post->getPostContent() ?>
			<?php else: ?>
				<?php echo $this->getPasswordProtectHtml() ?>
			<?php endif; ?>
		</div>
		<?php /**  echo $this->getAfterPostContentHtml() **/ ?>
		<?php /** echo $this->getCommentsHtml() **/ ?>
	</div>
<?php endif; ?>
<?php echo $this->getChildHtml('addthis_script') ?>
