<?php
/**
 * @category    Fishpig
 * @package     Fishpig_Wordpress
 * @license     http://fishpig.co.uk/license.txt
 * @author      Ben Tideswell <help@fishpig.co.uk>
 */
?>

<?php if(count($this->getItems())): ?>
    <div class="evidence-product">
        <span class="highlight-text"><?php echo $this->__('Featured Product') ?></span>
        <ul>
            <?php foreach($this->getItems() as $_item): ?>
                <li class="item">
                    <div class="product-image">
                        <a href="<?php echo $_item->getProductUrl() ?>" title="<?php echo $this->htmlEscape($_item->getName()) ?>">
                            <img src="<?php echo $this->helper('catalog/image')->init($_item, 'thumbnail')->resize(249) ?>" alt="<?php echo $this->htmlEscape($_item->getName()) ?>" >
                        </a>
                        <?php if ( $_item->getPrice() ) : ?>
                            <div class="regular-price"><?php echo $this->getPriceHtml($_item, true) ?></div>
                        <?php endif; ?>
                        <button type="button" title="<?php echo $this->__('Add') ?>" class="button btn-cart" onclick="window.location.href='<?php echo Mage::helper('checkout/cart')->getAddUrl($_item)?>'">
                            <span><span><?php echo $this->__('Add') ?></span></span>
                        </button>
                    </div>
                    <div class="product-details">
                        <h3 class="product-name">
                            <a href="<?php echo $_item->getProductUrl() ?>"><?php echo $this->htmlEscape($_item->getName()) ?></a>
                        </h3>

                        <?php $_itemId = Mage::getModel('catalog/product')->load($_item->getId()); ?>
                        <?php if (trim($_itemId->getDescription()) !== ''): ?>
                            <p><?php echo trim($_itemId->getDescription()) ?></p>
                        <?php endif; ?>
                    </div>
                </li>
            <?php endforeach ?>
        </ul>
    </div>

<?php endif ?>