<?php
/**
 * @category    Fishpig
 * @package     Fishpig_Wordpress
 * @license     http://fishpig.co.uk/license.txt
 * @author      Ben Tideswell <help@fishpig.co.uk>
 */
/* @var $this Bitbull_Cms_Block_Wordpress_Post_List */
?>
<?php
$eventDateTitle = $this->getEventDateTitle();
?>

<?php if (strlen($eventDateTitle) > 0) : ?>
    <?php $postCategoryName = Mage::helper("bitbull_cms/data")->getCategoryParentCategoryName(); ?>
    <span class="shop-event-date">
        <?php echo $this->__("%s: Happenings at Eataly %s", $eventDateTitle, $postCategoryName); ?>
    </span>
<?php endif; ?>

<?php $posts = $this->getPosts() ?>
<?php if (count($posts) > 0): ?>
    <div class="post-list-horizontal">
        <ul>
            <?php $i = 0; ?>
            <?php foreach ($posts as $post): $i++; ?>
                <?php //$postCategorySlug = $post->getParentCategory()->getSlug(); ?>
                <li class="post-<?php echo $i; ?> item<?php if ($post->isSticky()
                ): ?> featured is-sticky<?php endif; ?> <?php echo $post->getPostFormat() ?>">
                    <?php echo $this->getPostRenderer($post)->toHtml() ?>
                </li>
            <?php endforeach; ?>
            <div class="clearfix"></div>
        </ul>
        <script type="text/javascript">
            decorateList($('post-list'));
        </script>
        <?php echo $this->getPagerHtml() ?>
    </div>
<?php endif; ?>