<?php
/**
 * @category    Fishpig
 * @package     Fishpig_Wordpress
 * @license     http://fishpig.co.uk/license.txt
 * @author      Ben Tideswell <help@fishpig.co.uk>
 */
?>

<?php $_products = $this->getProducts() ?>
<div class="associated-products main-container">
    <?php if (count($_products) > 0): ?>

            <?php if ($title = $this->getTitle()): ?>
                <div class="block-title">
                    <?php if (count($_products) > 6):  ?>
                        <a href="#" class="flex-title-next"> > </a>
                        <a href="#" class="flex-title-prev"> < </a>
                    <?php  endif; ?>
                    <strong><span><?php echo $title ?></span></strong>
                </div>
            <?php endif; ?>


            <ol class="slides" id="block-blog-related" >
            <?php foreach($_products as $_product): ?>
                <li class="item">
                    <div class="product">
                        <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->htmlEscape($_product->getName()) ?>" class="product-image">
                            <img src="<?php echo $this->helper('catalog/image')->init($_product, 'thumbnail')->resize(155) ?>" alt="<?php echo $this->htmlEscape($_product->getName()) ?>" />
                        </a>
                        <div class="product-details">
                            <p class="product-name"><a href="<?php echo $_product->getProductUrl() ?>"><?php echo $this->htmlEscape($_product->getName()) ?></a></p>
                            <?php echo $this->getPriceHtml($_product, true, '-blog-related') ?>
                        </div>
                    </div>
                    <button type="button" title="Add to Cart" class="button btn-cart" onclick="window.location.href='<?php echo Mage::helper('checkout/cart')->getAddUrl($_product)?>'">
                        <span><span>Add to Bag</span></span><br>
                    </button>



                </li>
            <?php endforeach; ?>
            </ol>

            <script type="text/javascript">decorateList('block-blog-related', 'none-recursive');</script>

    <?php endif; ?>
</div>

