<div class="clearfix"></div>
<div class="all-stores">
    <h5><?php echo $this->__('Eataly stores') ?></h5>
    <a href="<?php echo $this->getUrl('negozi'); ?>" class="shop-link"><?php echo $this->__('See all stores') ?><em class="icon-double-angle-right"></em></a>
    <div class="eatalyworld">
        <?php echo $this->getLayout()->createBlock('cms/block')->setBlockId('eataly-world-stores')->toHtml(); ?>
    </div>
</div>