<?php /** @var $this Bitbull_Cms_Block_Wordpress_Eatalyworld */ ?>

<?php
$recentPostCollection = $this->getSliderPosts();
?>

<div class="mondo-eataly-slider">

    <?php if (count($recentPostCollection) > 0):?>
        <div class="main-post-slider eataly-slider">
            <ul class="slides">
                <?php foreach($recentPostCollection as $post): ?>
                    <li>
                        <?php $postCustomFieldsData = $this->getPostCustomData($post->getId()) ?>

                        <div class="text">
                            <?php if (!empty($postCustomFieldsData[Bitbull_Cms_Helper_Data::WP_SHOP_SLIDER_CUSTOM_FIELD_SUBTITLE])) : ?>
                                    <h4><span><?php echo $postCustomFieldsData[Bitbull_Cms_Helper_Data::WP_SHOP_SLIDER_CUSTOM_FIELD_SUBTITLE] ?></span></h4>
                            <?php endif; ?>

                            <?php if (!empty($postCustomFieldsData[Bitbull_Cms_Helper_Data::WP_SHOP_SLIDER_CUSTOM_FIELD_TITLE])) : ?>
                                    <h3><span><?php echo $postCustomFieldsData[Bitbull_Cms_Helper_Data::WP_SHOP_SLIDER_CUSTOM_FIELD_TITLE] ?></span></h3>
                            <?php endif; ?>
                        </div>

                        <?php $postExtraImage = Mage::helper("bitbull_cms/data")->getPostCustomData(
                            $post->getId(), Bitbull_Cms_Helper_Data::WP_EATALYWORLD_CUSTOM_FIELD_IMAGE_SLIDER); ?>

                        <a href="<?php if (!empty($postCustomFieldsData[Bitbull_Cms_Helper_Data::WP_SHOP_SLIDER_CUSTOM_FIELD_URL])) : ?>
                            <?php echo $postCustomFieldsData[Bitbull_Cms_Helper_Data::WP_SHOP_SLIDER_CUSTOM_FIELD_URL] ?>
                        <?php else: ?>
                             <?php echo $post->getPermalink() ?>
                        <?php endif; ?>" title="<?php echo $this->escapeHtml($post->getPostTitle()) ?>">



                            <div class="img-box">
                                <?php if ($postExtraImage): ?>
                                    <img src="<?php echo $postExtraImage[Bitbull_Cms_Helper_Data::WP_EATALYWORLD_CUSTOM_FIELD_IMAGE_SLIDER]; ?>"
                                         title="<?php echo $this->escapeHtml($post->getPostTitle()) ?>"/>
                                <?php elseif ($featuredImage = $post->getFeaturedImage()): ?>
                                    <img src="<?php echo $image_url = $post->getFeaturedImage()->getFullSizeImage(); ?>" alt="<?php echo $post_title = $post->getPostTitle(); ?>"/>
                                <?php endif; ?>
                            </div>


                        </a>

                    </li>
                <?php endforeach; ?>
            </ul>
        </div>
    <?php endif; ?>

</div>


