<?php /** @var $this Bitbull_Cms_Block_Wordpress_Eatalyworld */ ?>

<?php $showcasePostCollection = $this->getShowcasePosts(); ?>

<div class="blog-home">
    <?php if (count($showcasePostCollection) > 0):?>
        <ul class="featured-post">
            <?php foreach($showcasePostCollection as $post): ?>
                <li data-thumb="<?php echo $post_title = $post->getPostTitle(); ?>" >
                    <div class="inner">
                        <h3 class="post-title"><?php echo $post_title = $post->getPostTitle(); ?></h3>
                        <?php $postExtraImage = Mage::helper("bitbull_cms/data")->getPostCustomData(
                                $post->getId(), Bitbull_Cms_Helper_Data::WP_EATALYWORLD_CUSTOM_FIELD_IMAGE_SHOWCASE); ?>

                        <div class="img-box">
                            <a href="<?php echo $post->getPermalink() ?>" title="<?php echo $this->escapeHtml($post->getPostTitle()) ?>">
                            <?php if ($postExtraImage): ?>
                                <img src="<?php echo $postExtraImage[Bitbull_Cms_Helper_Data::WP_EATALYWORLD_CUSTOM_FIELD_IMAGE_SHOWCASE]; ?>" title="<?php echo $this->escapeHtml($post->getPostTitle()) ?>"/>
                            <?php elseif ($featuredImage = $post->getFeaturedImage()): ?>
                                <img src="<?php echo $image_url = $post->getFeaturedImage()->getThumbnailImage(); ?>" title="<?php echo $this->escapeHtml($post->getPostTitle()) ?>" />
                            <?php endif; ?>
                            </a>
                        </div>

                        <div class="content"> <?php echo $post->getPostExcerpt() ?></div>
                    </div>
                </li>
            <?php endforeach; ?>
            <div class="clearfix"></div>
        </ul>
    <?php endif; ?>

</div>







