<?php
/**
 * @category    Fishpig
 * @package     Fishpig_Wordpress
 * @license     http://fishpig.co.uk/license.txt
 * @author      Ben Tideswell <help@fishpig.co.uk>
 */
?>
<?php $posts = $this->getPosts() ?>
<?php if (count($posts) > 0): ?>

	<div class="block block-blog other-posts">
		<div class="block-content">
			<ul id="<?php echo $this->getListId() ?>">
			<?php foreach($posts as $post): ?>
				<li class="item">
                    <?php // $post is already defined ?>
                    <?php if ($featuredImage = $post->getFeaturedImage()): ?>
                        <a href="<?php echo $post->getPermalink() ?>">
                            <img src="<?php echo $featuredImage->getAvailableImage() ?>" alt="<?php echo $this->escapeHtml($post->getPostTitle()) ?>"/>
                        </a>
                    <?php endif; ?>
					<a href="<?php echo $post->getPermalink() ?>" title="<?php echo $this->htmlEscape($post->getPostTitle()) ?>">
                        <?php echo $this->htmlEscape($post->getPostTitle()) ?>
                        <span class="readmore"><?php echo $this->__('Read more') ?> <i class="fa fa-angle-double-right"></i></span>
                    </a>
				</li>
			<?php endforeach; ?>
			</ul>
			<script type="text/javascript">decorateList('<?php echo $this->getListId() ?>')</script>
		</div>
	</div>
<?php endif; ?>