<?php
/**
 *
 */
?>
<div class="blog-tabs">
    <ul id="tabs">
        <li><a id="tab1"><?php echo $this->__('Recent') ?></a></li>
        <li><a id="tab2"><?php echo $this->__('Popular ') ?></a></li>
        <li><a id="tab3"><?php echo $this->__('Random') ?></a></li>
    </ul>
    <div class="container" id="tab1C">
        <?php echo $this->getChildHtml('wp.recent.posts') ?>
    </div>
    <div class="container" id="tab2C">
        <?php echo $this->getChildHtml('wp.popular.posts') ?>
    </div>
    <div class="container" id="tab3C">
        <?php echo $this->getChildHtml('wp.random.posts') ?>
    </div>
</div>

