<?php
/**
 * @category    Fishpig
 * @package     Fishpig_Wordpress
 * @license     http://fishpig.co.uk/license.txt
 * @author      Ben Tideswell <help@fishpig.co.uk>
 */
?>
<?php $post = $this->getPost() ?>
<?php $image = $post->getFeaturedImage();  ?>


<div class="post-list-item" style="background-image: url(<?php echo $image !== false ? $image->getFullSizeImage() : ""; ?>)">

    <a href="<?php echo $post->getPermalink() ?>" class="post-link"></a>
        <div class="post-entry entry<?php if ($post->getFeaturedImage): ?> post-entry-with-image<?php endif; ?>" >
        <div class="text">
            <?php echo $this->getAfterPostContentHtml() ?>
            <h2><a href="<?php echo $post->getPermalink() ?>" title="<?php echo $this->escapeHtml($post->getPostTitle()) ?>">
                    <?php echo $this->escapeHtml($post->getPostTitle()) ?>
                </a></h2>
            <a href="<?php echo $post->getPermalink() ?>" title="<?php echo $this->escapeHtml($post->getPostTitle()) ?>" class="more">
                <?php if ($this->displayExcerptInFeed() || $post->hasMoreTag()): ?>
                    <div class="post-excerpt"><?php echo $post->getPostExcerpt() ?> </div>
                <?php else: ?>
                    <div class="post-excerpt"><?php echo $post->getPostContent() ?></div>
                <?php endif; ?>
                <span class="readmore"><?php echo $this->__('Continue reading') ?></span>
            </a>
         </div>
	   </div>

</div>