<?php /* @var $this Fishpig_Wordpress_Block_Post_List */ ?>
<?php
/** @var Bitbull_Cms_Block_Shops_Showcase $this */
$posts = Mage::helper("bitbull_cms/data")->getShowcasePosts();
?>

<div class="post-list">
    <ul id="post-list">
        <?php $i = 0; ?>
        <?php foreach ($posts as $post): ?>
            <?php
            $i++;
            if ($i % 2 == 0) {
                $class = "even";
            } else {
                $class = "odd";
            }
            $class = "post-$i item $class";
            ?>
            <li class="<?php echo $class ?>">
                <div class="post-list-item inner">
                    <h3 class="post-title"><a href="<?php echo $post->getPermalink() ?>" title="<?php echo $this->escapeHtml($post->getPostTitle()) ?>"><?php echo $this->escapeHtml($post->getPostTitle()) ?></a></h3>
                    <?php echo $this->getBeforePostContentHtml() ?>
                    <div class="post-entry entry<?php if ($post->getFeaturedImage()): ?> post-entry-with-image<?php endif; ?>">
                        <?php if ($post->isViewableForVisitor()): ?>

                            <?php if ($featuredImage = $post->getFeaturedImage()): ?>
                                <div class="img-box">
                                    <a href="<?php echo $post->getPermalink() ?>" title="<?php echo $this->escapeHtml($post->getPostTitle()) ?>">
                                    <?php if ($featuredImage = $post->getFeaturedImage()): ?>
                                        <img src="<?php echo $image_url = $post->getFeaturedImage()->getThumbnailImage(); ?>" title="<?php echo $this->escapeHtml($post->getPostTitle()) ?>" />
                                    <?php endif; ?>
                                    </a>
                                </div>
                            <?php endif; ?>
                            <?php if ($this->displayExcerptInFeed() || $post->hasMoreTag()): ?>
                                <div class="content"><?php echo $post->getPostExcerpt() ?></div>
                            <?php else: ?>
                                <div class="content"><?php echo $post->getPostContent() ?></div>
                            <?php endif; ?>
                        <?php else: ?>
                            <?php echo $this->getPasswordProtectHtml($post) ?>
                        <?php endif; ?>
                    </div>
                </div>
            </li>
        <?php endforeach; ?>
    </ul>
</div>

<a href="<?php echo Mage::helper("bitbull_cms/data")->getShopArchiveLink(); ?>" class="archive-li">
    <?php echo $this->__('See More') ?>
</a>
