<?php /** @var Bitbull_Cms_Block_Shops_Slider $this */ ?>
<?php $posts = $this->getSliderPosts(); ?>

<?php if (count($posts) > 0): ?>
<div class="shop-post-slider">
    <a href="#" class="prev"><i class="icon-chevron-left"></i></a>
    <a href="#" class="next"><i class="icon-chevron-right"></i></a>
    <ul class="slides">
        <?php foreach ($posts as $post): ?>

            <?php $postCustomFieldsData = $this->getPostCustomData($post->getId()) ?>
            <?php $postExtraImage = Mage::helper("bitbull_cms/data")->getPostCustomData(
                $post->getId(), Bitbull_Cms_Helper_Data::WP_EATALYWORLD_CUSTOM_FIELD_IMAGE_SLIDER); ?>

            <li <?php if ($postExtraImage): ?>
                    style="background: url('<?php echo $postExtraImage[Bitbull_Cms_Helper_Data::WP_EATALYWORLD_CUSTOM_FIELD_IMAGE_SLIDER]; ?>') 50% 50%; background-size: cover;"
                <?php elseif ($featuredImage = $post->getFeaturedImage()): ?>
                    style="background: url('<?php echo $featuredImage->getFullSizeImage() ?>') 50% 50%; background-size: cover;"
                <?php endif; ?> >


                <a href="<?php if (!empty($postCustomFieldsData[Bitbull_Cms_Helper_Data::WP_SHOP_SLIDER_CUSTOM_FIELD_URL])) : ?>
                    <?php echo $postCustomFieldsData[Bitbull_Cms_Helper_Data::WP_SHOP_SLIDER_CUSTOM_FIELD_URL] ?>
                <?php else: ?>
                    <?php echo $post->getPermalink() ?>
                <?php endif; ?>" title="<?php echo $this->escapeHtml($post->getPostTitle()) ?>"></a>


                <div class="text">
                    <?php if (!empty($postCustomFieldsData[Bitbull_Cms_Helper_Data::WP_SHOP_SLIDER_CUSTOM_FIELD_TITLE])) : ?>
                        <h4><span><?php echo $postCustomFieldsData[Bitbull_Cms_Helper_Data::WP_SHOP_SLIDER_CUSTOM_FIELD_TITLE] ?></span></h4>
                    <?php endif; ?>

                    <?php if (!empty($postCustomFieldsData[Bitbull_Cms_Helper_Data::WP_SHOP_SLIDER_CUSTOM_FIELD_SUBTITLE])) : ?>
                        <h3><span><?php echo $postCustomFieldsData[Bitbull_Cms_Helper_Data::WP_SHOP_SLIDER_CUSTOM_FIELD_SUBTITLE] ?></span></h3>
                    <?php endif; ?>

                </div>

            </li>
        <?php endforeach; ?>
    </ul>
</div>
<?php endif; ?>

