<?php
/**
 * @category    Fishpig
 * @package     Fishpig_Wordpress
 * @license     http://fishpig.co.uk/license.txt
 * @author      Ben Tideswell <help@fishpig.co.uk>
 */
?>
<?php $post = $this->getPost() ?>
<div class="post-list-item inner">
	<?php echo $this->getBeforePostContentHtml() ?>
	<div class="post-entry entry<?php if ($post->getFeaturedImage()): ?> post-entry-with-image<?php endif; ?>">
    <?php if ($post->isViewableForVisitor()): ?>

        <?php // show extra image if found on post ?>
        <?php $postExtraImage = Mage::helper("bitbull_cms/data")->getPostCustomData(
            $post->getId(), Bitbull_Cms_Helper_Data::WP_SHOP_RESTAURANT_CUSTOM_FIELD_IMAGE
        ); ?>
        <?php if ($postExtraImage): ?>
            <div class="extra-img-box">
                <a href="<?php echo $post->getPermalink() ?>"
                   title="<?php echo $this->escapeHtml($post->getPostTitle()) ?>">
                    <img src="<?php echo $postExtraImage[Bitbull_Cms_Helper_Data::WP_SHOP_RESTAURANT_CUSTOM_FIELD_IMAGE]; ?>"
                         title="<?php echo $this->escapeHtml($post->getPostTitle()) ?>"/>
                </a>
            </div>
        <?php elseif ($featuredImage = $post->getFeaturedImage()): ?>
         <div class="img-box">
           <a href="<?php echo $post->getPermalink() ?>" title="<?php echo $this->escapeHtml($post->getPostTitle()) ?>">
            <img src="<?php echo $image_url = $post->getFeaturedImage()->getThumbnailImage(); ?>" title="<?php echo $this->escapeHtml($post->getPostTitle()) ?>" />
          </a>
         </div>
        <?php endif; ?>
		<div class="content">
			<!-- // ADD THIS -->
			<div class="addthis_toolbox" addthis:url="<?php echo $post->getPermalink() ?>" addthis:title="<?php echo $this->escapeHtml($post->getPostTitle()) ?>"> 
				<!-- Check whether the plugin is enabled -->  
				<!-- AddThis Button BEGIN -->  
				<!-- AddThis API Config --> 
				<script type="text/javascript"> 
					var addthis_product = 'mag-sp-2.0.0'; 		var addthis_config = { 			pubid : ' ra-55508ff735d5abeb' 		} 	</script> 	<!-- AddThis API Config END --> 
				<div class="addthis_toolbox addthis_default_style addthis_32x32_style" >  
					<div class="custom_images" tabindex="1000"> 
						<!--<span class="condividi">CONDIVIDI</span>--> 
						<a class="addthis_button_facebook at300b" title="Facebook" href="javascript:void(0);"><i class="icon-facebook">&nbsp;</i></a> 
						<a class="addthis_button_twitter at300b" title="Tweet" href="javascript:void(0);"><i class="icon-twitter">&nbsp;</i></a> 
						<a class="addthis_button_email at300b" target="_blank" title="E-mail" href="javascript:void(0);"><i class="icon-envelope-alt">&nbsp;</i></a> 
						<a class="addthis_button_compact at300m" href="javascript:void(0);"><i class="icon-plus">&nbsp;</i></a> 
					</div> 
				</div> 
			</div>
			<!-- // -->



			<h3 class="post-title"><a href="<?php echo $post->getPermalink() ?>" title="<?php echo $this->escapeHtml($post->getPostTitle()) ?>"><?php echo $this->escapeHtml($post->getPostTitle()) ?></a></h3>
			<?php if ($this->displayExcerptInFeed() || $post->hasMoreTag()): ?>
				<?php echo $post->getPostExcerpt() ?>
			<?php else: ?>
               <?php echo $post->getPostContent() ?>
			<?php endif; ?>
		<?php else: ?>
			<?php echo $this->getPasswordProtectHtml($post) ?>
		<?php endif; ?>
	</div>
	</div>
	<?php // echo $this->getAfterPostContentHtml() ?>
</div>